extends layout

block content
  h1= title
  br
  p #{id}
  form(action="/responses", method="get")
    table.table.table-striped.table-bordered
      tr
        td Job #
        td Enquiry Date
        td Status
        td Status Date
      if (typeof jobs === "undefined")
        tr
          td
             | No Enquiries Found
      else
        each job in jobs
          - var status = job.Status._.toLowerCase();
          tr
            td
              a(href='/response/' + job.RowKey._.split('__')[0]) #{job.RowKey._.split('__')[0]}
            td #{job.EnquiryDate._}
            td(class=status) #{job.Status._}
            td #{moment(job.Timestamp._).format("YYYY/MM/DD")}
            //- - var day   = job.Timestamp._.getDate();
            //- - var month = job.Timestamp._.getMonth() + 1;
            //- - var year  = job.Timestamp._.getFullYear();
            //- td #{month + "/" + day + "/" + year}
            //- td
              input(type="checkbox", name="#{job.RowKey._}", value="#{!job.completed._}", checked=job.completed._)
